@font-face {
    font-family: DanteMTStd-Regular;
    src: url('./DanteMTStd-Regular.otf') format('opentype');
}

body {
  font-family: 'DanteMTStd-Regular';
  color: white;
  background: rgb(5,  85, 190);
  font-size: 28px;
  padding: 28px;
}

.hi {
  font-family: 'Palatino';
  font-size: 54px;
}

.para{
  font-family: 'Palatino';
  margin-left: 30px;
  margin-right: 30px;
}

.row {
  display: flex;
}

.column {
  padding: 2.66%;
}

.bio {
  margin-left:30px;
  margin-right: 30px;
}

.resume {
  margin-left: 30px;
  margin-right: 30px;
}

td {
  vertical-align: baseline;
}

.signature {
  text-align: right;
  margin-bottom: -20px;
}
