body {
  font-family: Palatino;
  color: white;
  background: rgb(5,  85, 190);
  font-size: 28px;
  padding: 28px;
}

.hi {
  font-size: 54px;
}

.para{
  margin-left: 30px;
}

.row {
  display: flex;
}

.column {
  padding: 2.66%;
}

td {
  vertical-align: baseline;
}

.resume {
  margin-left: 30px;
}

.signature {
  text-align: right;
  margin-bottom: -20px;
}
